<% provide(:title, "Courses by Category") %>
<h1>Category: <%= @filter %></h1>
<hr>
<div>
  <% @courses.each do |course| %>
    <% course.categories.each do |category| %>
      <% if category.name == @filter %>
      <div class="course-wrapper">
        <div class="course-left">
        <h4>Coordinator:</h4>
        <% @users.each do |user| %>
          <% if user.id == course.user_id %>
            <%= gravatar_for user %>
            <%= user.name %>
          <% end %>
        <% end %>
        <% if course.picture? %>
          <h4>Course Picture:</h4>
          <%= image_tag course.picture.url, class: "course-image" %>
        <% end %>
        </div>
        <div class="course-right">
        <ul class="courses">
          <li>
            Course Name: <%= course.name %>
            <% if logged_in %>
              <% if current_user.id == course.user_id %>
                <%= link_to "Edit Your Course", edit_course_path(course.id), class: "btn btn-sm btn-success" %>
              <% end %>
            <% end %>
          </li>
          <li>Prerequisite: <%= course.prerequisite %></li>
          <li>Category: 
          <% course.categories.each do |category| %>
            <% if course.categories.first == category %>
              <%= category.name %>
            <% else %>
              , <%= category.name %>
            <% end %>
          <% end %>
          </li>
          <li>Location:
          <% course.locations.each do |location| %>
            <% if course.locations.first == location %>
              <%= location.name %>
            <% else %>
              , <%= location.name %>
            <% end %>
          <% end %>
          </li>
          <li>Description: <%= course.description %></li>
          <li>Created <%= time_ago_in_words(course.created_at) %> ago</li>
          <% if logged_in %>
            <li><%= link_to "Like:", like_path(:course_id => course.id, :to_do => "like") %> <%= course.like.split(',').size-1 %></li>
            <li><%= link_to "Dislike:", like_path(:course_id => course.id, :to_do => "dislike") %> <%= course.dislike.split(',').size-1 %></li>
          <% else %>
            <li>Like: <%= course.like.split(',').size-1 %></li>
            <li>Dislike: <%= course.dislike.split(',').size-1 %></li>
          <% end %>
        </ul>
        </div>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>