<% provide(:title, 'New Category') %>
<% if logged_in %>
<h1>Create New Category</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@category) do |f| %>
        <%= render 'shared/category_error_messages' %>
  
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
  
        <%= f.submit "Create New Category", class: "btn btn-lg btn-primary button-img signup-button" %>
      <% end %>
    </div>
</div>
<% else %>
  <h1>You must be logged in to create a category!</h1>
  <div class="home-wrapper">
    <div class="home-left">
      <h3>Continue as Guest</h3>
      <p>You can view the courses as a guest user before signing up</p>
      <%= link_to "Browse all courses", courses_path, class: "btn btn-lg btn-success button-img courses-button" %>
    </div>
    <div class="home-right">
      <h3>Already a User?</h3>
      <p>Click on the button below to log in!</p>
      <%= link_to "Log In", login_path, class: "btn btn-lg btn-success button-img login-button" %>
    </div>
  </div>
<% end %>